body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #2B2D42;
    color: #8D99AE;
    padding: 30px;
    margin-bottom: 10px;
}

header h1 {
    color: #EDF2F4;
    font-size: 80px;
    margin: 0;
}

header h2 {
    color: #EDF2F4;
    font-size: 40px;
    margin-top: 10px;
}

header p {
    color: #8D99AE;
    max-width: 900px;
}

header a {
    color: #EF233C;
    text-decoration: underline;
}

.education {
    background-color: #8D99AE;
    color: #000;
    padding: 30px;
}

.education h2 {
    font-size: 32px;
}

.education h3 {
    font-weight: bold;
}

.education p {
    margin: 5px 0 15px;
}

footer {
    background-color: #2B2D42;
    color: #8D99AE;
    text-align: left;
    padding: 30px;
    margin-top: 10px;
}

footer h2 {
    color: #EDF2F4;
    font-size: 30px;
    margin-top: 0;
}

footer a {
    color: #EF233C;
    text-decoration: underline;
    margin-right: 10px;
}

footer p {
    color: #8D99AE;
    margin-top: 20px;
    font-size: 14px;
}
