    img{
        display: block;
        width: 100%;
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr;


    }

    @media only screen and (min-width: 768px){

        body{
            background-color: lightblue;
        }
        .gallery{

            grid-template-columns: 1fr 1fr;
        }
        figure{
            width:90%;
            box-sizing: border-box;
            border: 10px solid;
        }
        figure img {
            width: 100%;
        }
    }
    @media only screen and (min-width: 992px){
    body{
        background-color: lightgreen;

    }
        .gallery{

            grid-template-columns: 1fr 1fr 1fr;
        }
        figure{
            width:90%;
            box-sizing: border-box;
            border: 10px solid;
        }
        figure img {
            width: 100%;
        }


    }