.wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.row input {
    width: 200px;
}

#colorDisplay {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(128,128,128);
    border-radius: 8px;
}