* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    margin: 0;
    background: #f5f5f5;
}

#wrapper {
    width: 95%;
    margin: 0 auto;
    background: white;
}

h1 {
    color: rgb(0, 126, 126);
    font-size: 150%;
}

h2 {
    color: rgb(0, 126, 126);
    font-size: 130%;
}

#elixirs h1 {
    color: #aa00aa;
}

#elixirs h2 {
    color: #0044aa;
}

#elixirs {
    padding: 20px;
    width: 28%;
    float: right;
    background: #eefdfd;
}

#elixirs a:hover {
    background: #a0522d;
    color: white;
}

#content {
    width: 70%;
    float: left;
    padding: 20px;
}

footer {
    clear: both;
    font-size: 0.6em;
    text-align: center;
    padding: 20px;
    background: #e0e0e0;
}
